.bg-container {
    background-color: blue;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
}

.adduser-button {
    background-color: green;
    padding: 10px;
    margin-bottom: 10px;
}


.table {
    border: 1px solid black;
    padding: 10px;
}
.tr {
    background-color:lightblue;
    padding: 10px;
   
}


