.bg-container {
    background-color: blue;
    height: 100vh;
    width:100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-container {
    background-color: white;
    padding: 20px;
    width: 300px;
}

.my-form {
    display: flex;
    flex-direction: column;
}

.input-element {
    padding: 10px;
    margin: 10px;

}

.adduser-button {
    background-color: green;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}